<section>
    <div class="row">
        <div class="col-md-4">
            <img src="img/actuals/{{book.asin}}.jpg"
                 style="height: 600px; width: 420px" alt="{{book.title}}">
        </div>

        <div class="col-md-5 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h4">{{book.title}}</div>
                </div>
                <div class="panel-body">
                    <div>{{book.author}}</div>
                    <div>{{book.isbn}}</div>
                    <div>{{book.publishAt}}</div>
                    <div>{{book.description}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
